<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/diy.css' %}">
  <title>
  Do the Rot Thing
  </title>
<!--download fonts here-->
<link href="https://fonts.googleapis.com/css?family=Cookie|Dancing+Script|Fredericka+the+Great|Lato:300,400|Petit+Formal+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

</head>
<body>

<h1>D O&nbsp&nbsp&nbspT H E&nbsp&nbsp&nbspR O T&nbsp&nbsp&nbspT H I N G </h1>
<hr size="1">

<ul class="nav">
            <li><a href="/home/">H O M E</a></li>
            <li><a href="/learn/">L E A R N </a></li>
            <li><a class = "active" href="/diy/">D I Y</a></li>
            <li><a href="/game/">G A M E</a></li>
        </ul>

<hr size="1">


<center>
  <div class="learnwrapper">
    <div class="learntext">
      <br />
      <h2>Step 1</h2>
      <p>You can start a compost pile either on bare ground or in a bin. Both options turn out successful piles. Some prefer to construct a bin to keep the process neater and to discourage animals from rummaging. If you plan to use a bin, a good starting size is 1 cubic meter. Place in a sunny area.
Lay twigs or straw on the bottom, a few inches deep. This assists in drainage and aeration.</p>
      <br />
      <h2>Step 2</h2>
      <p>
        Add compost materials in alternating moist and dry layers. Moist materials include food scraps and dry materials include leaves and sawdust. Any wood ashes should be sprinkled in thin layers; otherwise they will clump. Below is a list of materials you should exercise caution with when adding.
      </p>
      <ul class="examples">
        <li>Tea bags (leaves are fine, but bags may be made with synthetic materials.)</li>
        <li>Onion and citrus peels (very acidic, which may kill microorganisms in the soil. If you add these, chop into small bits.)</li>
        <li>Fish and meat scraps (their smell will attract pests.)</li>
        <li>Glossy paper (won’t decompose properly and may contain toxins.)</li>
        <li>Sawdust (make sure it isn’t coated with any synthetic materials.)</li>
        <li>Ashes (Very acidic and may clump. Use in moderation.)</li>
        <li>Animal waste except that of herbivorous animals such as horses and rabbits (may introduce microorganisms and parasites you do not want to introduce to plants you will be eating.)</li>
      </ul>
    <br />
    <h2>Step 3</h2>
    <p>Add a nitrogen source, such as grass clippings or buckwheat.</p>
    <br />
    <h2>Step 4</h2>
    <p>Keep compost moist by watering occasionally. The pile should be as wet as a squeezed-out sponge.</p>
    <br />
    <h2>Step 5</h2>
    <p>Turn and mix the pile with a pitchfork or shovel every week or two. This aerates the pile. Turning more often will make the pile finish faster. Once your pile is established, mix in materials instead of adding them in layers.</p>
    <br />
    <h2>Step 6</h2>
    <p>In six months to a year, the pile will be finished. The composting process stops when it gets cold, but will restart when it warms up. You know the pile is finished if there is a earthy smell, the color is dark brown, and the texture is fine. Dig into or spread onto garden beds.</p>
    <br />
    <h2>Tips</h2>
    <p>
      <ul class="examples">
        <li>A healthy compost pile should have much more carbon than nitrogen.</li>
        <li>The pile may steam, which is normal. Microorganisms create heat.</li>
        <li>Compost is only an additive. It should not be the only growing medium.</li>
        <li>If there are unpleasant odors, cover with dry leaves or reduce animal products.</li>
        <li>If you’re constantly adding new material to the pile, you will never get a finished compost.</li>
      </ul>
    </p>
    </div>
</center>

<br>
<br>

</body>
</html>
