<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/game.css' %}">
  <title>
  Do the Rot Thing
  </title>
<!--download fonts here-->
<link href="https://fonts.googleapis.com/css?family=Cookie|Dancing+Script|Fredericka+the+Great|Lato:300,400|Petit+Formal+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

</head>
<body>

<h1>D O&nbsp&nbsp&nbspT H E&nbsp&nbsp&nbspR O T&nbsp&nbsp&nbspT H I N G </h1>
<hr size="1">

<ul class="nav">
            <li><a href="/home/">H O M E</a></li>
            <li><a href="/learn/">L E A R N </a></li>
            <li><a href="/diy/">D I Y</a></li>
            <li><a class="active" href="/game/">G A M E</a></li>

        </ul>

<hr size="1">

<br />

<h2>"DO THE ROT THING"</h2>
<h3>Use your vast composting knowledge to sort the trash falling from the sky! <br /> Only collect items that can go in the bin! <br /> Enjoy!</h3>




<center>
  <div class="center-text" id="swf">
   <object type="application/x-shockwave-flash" id="" data="http://cdn.fastswf.com/files/35xm760/35xm760.swf?AWSAccessKeyId=AKIAIWTOYM4XXIVL5IGQ&amp;Expires=1501806683&amp;Signature=kWexT6ArIrDhxTbNvlnGXkZpSpQ%3D" width="640" height="480"><param name="menu" value="false"><param name="scale" value="noScale"><param name="allowFullscreen" value="true"><param name="allowScriptAccess" value="never"><param name="bgcolor" value=""><param name="wmode" value="direct"></object>
  </div>
</center>

<br />
<center>
  <a><img src="http://i.imgur.com/WJGacJo.png" title="source: imgur.com" width=650px/></a>
  <a><img src="http://i.imgur.com/Hvpgbj5.png" title="source: imgur.com" width=650px/></a>
</center>




<br>
<br>

</body>
</html>
