<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
<title>
Do the Rot Thing
</title>
<!--download fonts here-->
<link href="https://fonts.googleapis.com/css?family=Cookie|Dancing+Script|Fredericka+the+Great|Lato:300,400|Petit+Formal+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

</head>
<body>

<h1>D O&nbsp&nbsp&nbspT H E&nbsp&nbsp&nbspR O T&nbsp&nbsp&nbspT H I N G </h1>
<hr size="1">

<ul class="nav">
            <li><a class="active" href="/home/">H O M E</a></li>
            <li><a href="/learn/">L E A R N </a></li>
            <li><a href="/diy/">D I Y</a></li>
            <li><a href="/game/">G A M E</a></li>
        </ul>

<hr size="1">

<div class=mainpic>

	<a href="http://imgur.com/H9qJoxD"><img src="http://i.imgur.com/H9qJoxD.jpg" width="100%"/></a>

    <div class="wrapper">

    	<div class="missiontextbox">
         <h2>Do the Rot Thing is a website and game dedicated to helping people understand the importance of composting and emphasize its benefits. We hope our project will contribute to advancing towards a more environmentally friendly planet.</h2>



        </div>



    </div>

</div>


<br>
<br>

</body>
</html>
