<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
  <link rel="stylesheet" href="{% static 'css/learn.css' %}">
  <title>
  Do the Rot Thing
  </title>
<!--download fonts here-->
<link href="https://fonts.googleapis.com/css?family=Cookie|Dancing+Script|Fredericka+the+Great|Lato:300,400|Petit+Formal+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

</head>
<body>

<h1>D O&nbsp&nbsp&nbspT H E&nbsp&nbsp&nbspR O T&nbsp&nbsp&nbspT H I N G </h1>
<hr size="1">

<ul class="nav">
            <li><a href="/home/">H O M E</a></li>
            <li><a class="active" href="/learn/">L E A R N </a></li>
            <li><a href="/diy/">D I Y</a></li>
            <li><a href="/game/">G A M E</a></li>
        </ul>
<hr size="1">

<br>
<br>
<center>
  <div class="learnwrapper">
    <div class="learntext">
      <h2>What is composting?</h2>
      <p>Composting is the process of recycling organic matter into compost, which serves as fertilizer and soil conditioner. Carbon, nitrogen, oxygen, water, and microorganisms that exist naturally in the soil and organic matter work together to break down the pile. From enormous composting facilities to backyard piles, composting facilitates the cycle of life.</p>
      <br />
      <h2>What are the benefits?</h2>
      <ul class="benefits">
    <li>Creates rich humus (organic material in soils), which adds nutrients, helps retain moisture, and repels pests in soil.</li>
    <li>Can divert a sizable portion of household waste away from the trash can.</li>
    <li>Offers a natural alternative to chemical fertilizers.</li>
    <li>Reduces landfill waste and methane emissions from landfills.</li>
      </ul>
    <br />
    <h2>Why is compost valuable?</h2>
    <p>Few soils are naturally high in organic matter, which is necessary for growing food. Compost is entirely composed of organic matter and is filled with ideal minerals and nutrients. Additionally, compost improves the texture and air circulation of heavy soils and increases the water retention of light, sandy soils. Even if you don't have a garden, composting is a way to rebalance the nutrient cycle in soil that we depend on.</p>
    <br />
    <h2>What can you compost?</h2>
    <p>Anything made from organic materials, from eggshells to tea leaves. There are many items you may not expect to be compostable, including soiled pizza boxes, non-toxic white glue, and dryer lint. However, for personal backyard piles, adding meat products and animal and human waste is discouraged because they attract pests. Also keep in mind that not all paper products are compostable - while newspapers printed with soy ink are suitable, glossy or colored papers belong in the recycling.</p>
    <br />
    <h2>Examples of what you can compost</h2>
      <ul class="benefits">
        <li>Fruit and vegetable scraps</li>
        <li>Tea leaves and bags made of natural materials</li>
        <li>Spoiled soy/rice/almond milk</li>
        <li>Used paper napkins and towels</li>
        <li>Unwaxed pizza boxes (cut into small pieces)</li>
        <li>Sticky notes and bills (shredded)</li>
        <li>Newspapers (printed with natural inks)</li>
        <li>Nontoxic white glue</li>
        <li>Cardboard egg cartons</li>
        <li>Used matches</li>
        <li>Latex balloons</li>
        <li>Contents of vacuum bag</li>
        <li>Biodegradable disposable tableware</li>
      </ul>
      <br />
    <h2>What not to compost</h2>
      <ul class="benefits">
        <li>Glass</li>
        <li>Plastic</li>
        <li>Batteries</li>
        <li>Glossy or colored paper</li>
        <li>Meat or fish products (especially for home compost piles as these are a health hazard)</li>
        <li>Sawdust from treated wood</li>
        <li>Styrofoam</li>
        <li>Clothing (may contain harmful chemicals from dyes)</li>
      </ul>
    </div>
</center>



</body>
</html>
